html, body {
	margin: 0;
	padding: 0;
	background: black;
}
canvas {
	display: block;
}
body {
	font-family: sans-serif;
	letter-spacing: .03rem;
}
h1 {
	position: absolute;
	top: 1rem;
	left: 0;
	background: black;
	color: white;
	border: 0;
	padding: 5px 15px;
	font-size: 2rem;
}
#buttonsPosition {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
#playButton, #reloadButton {
	background: white;
	color: black;
	border: 0;
	padding: 5px 15px;
	font-size: 1.5rem;
	cursor: pointer;
}
#playButton:hover, #reloadButton:hover {
	background: black;
	color: white;
}
#toggle {
	position: absolute;
	bottom: 1rem;
	left: 0;
	background: black;
	color: red;
	border: 0;
	padding: 5px 15px;
	font-size: .8rem;
	cursor: pointer;
}
.collab-link {
	text-decoration: none;
}
.collab-link:hover, .collab-link:active {
	text-decoration: underline;
}
#collab-details {
	display: none;
	padding: 2rem;
	font-size: 1.2rem;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-out;
}
#collab-details.open {
	display: block;
	max-height: 100vh; /* Adjust this value based on the content size or set it to a large value to accommodate dynamic content sizes */
}
.signature {
	color: gray;
}
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
@media screen and (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
	#playButton, #reloadButton {
		font-size: 2rem;
	}
	#toggle {
		font-size: 1rem;
	}
}