html, body {
	margin: 0;
	padding: 0;
}
canvas {
	display: block;
}
body {
	font-family: sans-serif;
	letter-spacing: .03rem;
}
h1 {
	position: absolute;
	top: 1rem;
	left: 0;
	background: black;
	color: white;
	border: 0;
	padding: 5px 15px;
	font-size: 3rem;
}
#playButton {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background: white;
	color: black;
	border: 0;
	padding: 5px 15px;
	font-size: 2rem;
	cursor: pointer;
}
#playButton:hover {
	background: black;
	color: white;
}
#collab {
	position: absolute;
	bottom: 1rem;
	left: 0;
	background: black;
	color: red;
	border: 0;
	padding: 5px 15px;
	font-size: 1rem;
	cursor: pointer;
}
a.collablink {
	text-decoration: none;
}
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}